*{
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.menu{
    line-height:40px;
    font-variant:small-caps
}
.menu>ul{
    padding:0px;
    margin:0px;
    border-radius:3px;
    background-color:rgb(245, 245, 245);
    text-align:center;
}
.menu .down{
    text-align:left;
}
.menu>ul>li>a{
    font-variant:small-caps;
    font-size:larger;
    color:rgb(49, 9, 9);
    padding:0 10px;
    line-height:40px;

}

 .menu>ul>li>a:hover{

    color:rgb(82, 148, 235);
} 
.menu>ul>li{
    display: inline-block;

    text-decoration:none;
}
.menu>ul>li>a{
    text-decoration:none;
    display:block;
}

 .menu ul ul{ 
     position:absolute;
     display:none;
     padding: 0px;
     margin:0px;
     list-style:none;    

     width:200px;
     background-color:white;

} 


 .menu ul ul a{
    display:block;
    line-height:30px;
    color:orangered;

    font-variant:small-caps;

    padding:0 10px;

 } 

 .menu>ul>li:hover>ul{
     
    display:block;
 } 





 .menu ul ul a:hover{
    color:rgb(7, 6, 6);
 } 
.menu ul li{
    display: inline-block;
    
}
.menu a{
    
    color:white;

    margin:0 10px;
}

.menu a:hover{

    color:yellow;

} 
li{
    list-style: none;
}
.menu-list{
    position: absolute;
    display: none;
    height: 250px;
}
.menu-list ul li a{
    position: absolute;
    
}
.menu-down li:hover .menu-list{
    display: block;

}
.menu-down li:hover .menu-list ul{
    
    position: absolute;
}

.container{
    padding-top: 10%;
    width: 65%;
    margin: 0 auto;
}
.right{

    height: 300px;
    padding-right:30px;
}
.right button{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 230px;
    margin-top: 30px;
    margin-left: 160px;
    border: none;
    font-size: 22px;
    
    background-color: red;
}
.right button a{
    color: white;
}
.right button:hover{
    transform: scale(1.2);
}
.right h3{
    margin-top: 20px;
}
.Sach{
    text-align: justify;
    padding-top: 50px;
    padding-bottom: 40px;
}
.left{

    height: 300px;
    
    float: left;
    
}

.left img{
    
    padding-right:100px;
    height: 300px;
}
.title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
}
.ft{
    background-color: rgb(215, 245, 250);
}
.footer{
    height: auto;
}
.ft-main {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}

.ftfix {
    padding-left: 5px;
    padding-right: 5px;
    width: 30%;
}   
.footer-item-link{
    color: black;
    text-decoration: none;
    font-size: 22px;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item-link:hover{
    color: black;
}

.footer{

}
.footer-heading{
    font-size: 22px;
    text-transform: uppercase;
    color: black;
}

