*{
    margin: 0;
    padding: 0;


}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.menu{
    line-height:40px;
    font-variant:small-caps
}
.menu>ul{
    padding:0px;
    margin:0px;
    border-radius:3px;
    background-color:rgb(245, 245, 245);
    text-align:center;
}
.menu .down{
    text-align:left;
}
.menu>ul>li>a{
    font-variant:small-caps;
    font-size:larger;
    color:rgb(49, 9, 9);
    padding:0 10px;
    line-height:40px;

}

 .menu>ul>li>a:hover{

    color:rgb(82, 148, 235);
} 
.menu>ul>li{
    display: inline-block;

    text-decoration:none;
}
.menu>ul>li>a{
    text-decoration:none;
    display:block;
}

 .menu ul ul{ 
     position:absolute;
     display:none;
     padding: 0px;
     margin:0px;
     list-style:none;    

     width:200px;
     background-color:white;

} 


 .menu ul ul a{
    display:block;
    line-height:30px;
    color:orangered;

    font-variant:small-caps;

    padding:0 10px;

 } 

 .menu>ul>li:hover>ul{
     
    display:block;
 } 





 .menu ul ul a:hover{
    color:rgb(7, 6, 6);
 } 
.menu ul li{
    display: inline-block;
    
}
.menu a{
    
    color:white;

    margin:0 10px;
}

.menu a:hover{

    color:yellow;

} 
li{
    list-style: none;
}
.menu-list{
    position: absolute;
    display: none;
    height: 250px;
}
.menu-list ul li a{
    position: absolute;
    
}
.menu-down li:hover .menu-list{
    display: block;

}
.menu-down li:hover .menu-list ul{
    
    position: absolute;
}
.than{
    width: 50%;
    height: 480px;
    margin: 80px auto;
    box-shadow: 0px 0px 5px rgb(118, 223, 255);
    text-align: center;
}

.than>h1{
    font-size: 35px;
    color: rgba(212, 181, 0, 0.623);
    padding-top: 70px;
    left: 630px;
}

.than>hr{
    width: 300px;
    margin-left: 30%;
    margin-top: 10%;
}

.than>p{
    position: absolute;
    left: 660px;
    top: 270px;
}

.than>a>button{
    width: 200px;
    height: 50px;
    color: white;
    background-color: yellowgreen;
    border: none;
    margin-top: 200px;
}

.than>a>button:hover{
    transform: scale(1.1,1.1);
    transition: all 0.4s ease;
}



.footer{
    width: 0 auto;

    background-color: antiquewhite;
}
.ft-main {
    display: flex;

    margin-top: 20px;
}
.container{
    max-width: 70%;
    margin: 0 auto;
}
.ftfix {
    padding-left: 30px;

    padding-right: 5px;
    width: 100%;
}   
.footer-item-link{
    
    color: black;
    text-decoration: none;
    font-size: 22px;
    color: #737373;
    align-items: center;
}

.footer-item-link:hover{
    color: black;
}
.footer{
    padding-top: 12px;

}
.footer-heading{
    font-size: 22px;
    text-transform: uppercase;
    color: black;
}
