*{
    margin: 0;
    padding: 0;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}


.menu{
    line-height:40px;
    font-variant:small-caps
}
.menu>ul{
    padding:0px;
    margin:0px;
    border-radius:3px;
    background-color:rgb(245, 245, 245);
    text-align:center;
}
.menu .down{
    text-align:left;
}
.menu>ul>li>a{
    font-variant:small-caps;
    font-size:larger;
    color:rgb(49, 9, 9);
    padding:0 10px;
    line-height:40px;

}

 .menu>ul>li>a:hover{

    color:rgb(82, 148, 235);
} 
.menu>ul>li{
    display: inline-block;

    text-decoration:none;
}
.menu>ul>li>a{
    text-decoration:none;
    display:block;
}

 .menu ul ul{ 
     position:absolute;
     display:none;
     padding: 0px;
     margin:0px;
     list-style:none;    

     width:200px;
     background-color:white;

} 


 .menu ul ul a{
    display:block;
    line-height:30px;
    color:orangered;

    font-variant:small-caps;

    padding:0 10px;

 } 

 .menu>ul>li:hover>ul{
     
    display:block;
 } 





 .menu ul ul a:hover{
    color:rgb(7, 6, 6);
 } 
.menu ul li{
    display: inline-block;
    
}
.menu a{
    
    color:white;

    margin:0 10px;
}

.menu a:hover{

    color:yellow;

} 
li{
    list-style: none;
}
.menu-list{

    display: none;
    height: 250px;
}
.menu-list ul li a{
    position: absolute;
    
}
.menu-down li:hover .menu-list{
    display: block;

}
.menu-down li:hover .menu-list ul{
    
    position: absolute;
}
.lienhe{
    width: 80%;
    margin: 0 auto;
}
.bando{
    float: left;
    margin-top: 100px;
    border: 2px solid aquamarine;
}

.form{
    background-color: aquamarine;
    margin-top: 100px;
    float: right;
    width: 500px;
    height: 400px;
    border: 2px solid aquamarine;
}

.form .title{
    
    text-align: center;
}
.form .input{
    background-color: white;
    height: 79%;
    border-bottom: 2px solid aquamarine;
}
.form .input input{
    margin-left: 20px; 

    margin-top: 30px;
    height: 30px;
    width: 450px;
}
.form .input  .nd{
    height: 50px;
}

.form .input button{
    height: 40px;
    margin-top: 30px;
    width: 450px;
    text-align: center;
    margin-left: 20px; 
    border: 0px;
    background-color: aquamarine;
}
.form .input button:hover{
    background-color: rgb(25, 191, 241);
}

.form .button-form{
    margin-top: 10px;
    text-align: center;
}




.footer{
    
    width: 0 auto;
    margin-top: 40%;
    background-color: antiquewhite;
}
.ft-main {
    
    display: flex;

    margin-top: 20px;
}
.container{
    max-width: 70%;
    margin: 0 auto;
}
.ftfix {
    padding-left: 30px;

    padding-right: 5px;
    width: 100%;
}   
.footer-item-link{
    
    color: black;
    text-decoration: none;
    font-size: 22px;
    color: #737373;
    align-items: center;
}

.footer-item-link:hover{
    color: black;
}
.footer{
    padding-top: 12px;

}
.footer-heading{
    font-size: 22px;
    text-transform: uppercase;
    color: black;
}